In [1]:
import pandas as pd
import numpy as num

sharks_df = pd.read_excel('GSAF5.xls')
sharks_df.describe(include='all')

# Needs fixing / observations:
# Sex is missing in # cells (nan) nad has 8 cells
# There are names replaces by "male" and "Female"
# last two columns can be removed, (NaN as value)
# columns after 'source'

# Hipothesis
# based on initial data, There are more females attacked by sharks. However, data cleaning is neccesary to ensure this
# There are more attacks on America than other continent since they do more beach activities
# most attacks are done when surfing and are located in the USA since surfing is a more popular sport there and it as unprovoked (explore more, see what other data is relevant and why)
"""Null Hypothesis (H0): The number of shark attacks during surfing is not significantly higher in the USA compared to other countries, and there is no association between the popularity of surfing and shark attacks.

Alternative Hypothesis (H1): Most shark attacks occur during surfing, with a higher frequency in the USA due to the popularity of surfing as a sport, and these attacks are unprovoked."""

# Going to work with Activity, Country, Type. Clean only these values. Other columns that can help me on this? Example Time of the day
# apply filters and apply functions etc

sharks_df.describe()
sex_series = sharks_df['Sex']
country_series = sharks_df['Country']
country_sex_activity_type_df = sharks_df[['Country','Sex','Activity','Type']]


sharks_df[500:600]

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
500,21-Mar-2019,2019.0,Unprovoked,MEXICO,Guerrero,Troncones,Swimming,Alex Wilton,M,32,...,NaN,"K.McMurray, TrackingSharks.com",2019.03.21-Winton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2019.03.21,2019.03.21,6419.0,NaN,NaN
501,16-Mar-2019,2019.0,Unprovoked,USA,Hawaii,Kaiwi Channel,Swimming,Eric Schall,M,58,...,Cookiecutter shark,"Honolulu Star Advertiser, 3/16/2019",2019.03.16-Schall.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2019.03.16,2019.03.16,6418.0,NaN,NaN
502,12-Mar-2019,2019.0,Unprovoked,USA,Florida,"Stuart Beach, Martin County",Boogie boarding,Kael Dewey,M,11,...,Spinner shark,"K. McMurray, TrackingSharks.com",2019.03.12-Dewey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2019.03.12,2019.03.12,6417.0,NaN,NaN
503,05-Mar-2019,2019.0,Unprovoked,USA,Oregon,"Cape Kiwanda, Tillamook County",Surfing,Nathan Holstedt,M,NaN,...,NaN,"M. Michaelson, GSAF",2019.03.05.b-Holstedt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2019.03.05.b,2019.03.05.b,6416.0,NaN,NaN
504,05-Mar-2019,2019.0,Provoked,SOUTH AFRICA,Eastern Cape Province,30 nm off Port Elizabeth,Fishing,male,M,46,...,2.5 m shark,"Times Live, 3/6/2019",2019.03.05.a-Fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2019.03.05.a,2019.03.05.a,6415.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,...,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6324.0,NaN,NaN
596,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6323.0,NaN,NaN
597,21-May-2018,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,10,...,NaN,"C. Creswell, GSAF",2018.05.21-deBoer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.21,2018.05.21,6322.0,NaN,NaN
598,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,10,...,NaN,"C. Creswell, GSAF & K. McMurray TrackingSharks...",2018.05.13.b-Turrell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.b,2018.05.13.b,6321.0,NaN,NaN
599,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6320.0,NaN,NaN

In [2]:
print(country_series.nunique())
country_series.unique()
print(country_series.value_counts())

224
USA                               2535
AUSTRALIA                         1473
SOUTH AFRICA                       596
NEW ZEALAND                        143
PAPUA NEW GUINEA                   136
                                  ...
FEDERATED STATES OF MICRONESIA       1
Maldives                             1
RED SEA                              1
South Africa                         1
CEYLON (SRI LANKA)                   1
Name: Country, Length: 224, dtype: int64

In [3]:
sex_series.nunique() # 8 instead of 2

8

In [4]:
sex_series.unique() # Needs fixing - M x 2 means 2 men rows? what N means

array(['F', 'M', nan, ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [5]:
sex_series.value_counts() # More males

M        5561
F         773
M           2
N           2
 M          1
lli         1
M x 2       1
.           1
Name: Sex, dtype: int64

In [9]:
#country_sex_activity_df.value_counts() # Surfing, male, and USA - 578

In [7]:
country_sex_activity_type_df.value_counts()

Country       Sex  Activity                          Type
USA           M    Surfing                           Unprovoked      547
                   Swimming                          Unprovoked      232
AUSTRALIA     M    Surfing                           Unprovoked      208
                   Swimming                          Unprovoked      132
SOUTH AFRICA  M    Surfing                           Unprovoked       97
                                                                    ...
INDIA         M    Washed off catamaran in the surf  Unprovoked        1
                   The Dwarka foundered              Sea Disaster      1
                   Swimming or surfing               Unprovoked        1
                   Standing                          Unprovoked        1
YEMEN         M    Swimming at side of small boat    Unprovoked        1
Length: 2399, dtype: int64

In [1]:
# EMPEZAR ACA
import pandas as pd
# read file
df = pd.read_excel('GSAF5.xls')

# rename columns
df.columns = df.columns.str.strip().str.replace(" ", "_").str.lower()

# remove last two columns (NaN in all)
df = df.drop(['unnamed:_21','unnamed:_22'],axis=1)

# country, activity, Type
#hip_vars_df = df[['country','activity','type']]
def clean_char(el,char='?'):
    if el.endswith(char):
        return el[:-1]
    else:
        return el

df['country'] = df['country'].fillna('').str.lower().str.strip() # fill na with '', put lowercase and remove spaces
df['country'] = df['country'].apply(clean_char) # YO limpiar, to lower, remove spaces and remove ?
df['country'] = df['country'].str.replace(' (uae)','').str.replace('&','and').str.replace(' (sri lanka)','').str.replace('columbia','colombia').str.replace('coast of africa','africa')

sorted(df['country'].unique())

C:\Users\user\AppData\Local\Temp\ipykernel_12540\2763072079.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df['country'] = df['country'].str.replace(' (uae)','').str.replace('&','and').str.replace(' (sri lanka)','').str.replace('columbia','colombia').str.replace('coast of africa','africa')

['',
 'admiralty islands',
 'africa',
 'algeria',
 'american samoa',
 'andaman / nicobar islandas',
 'andaman islands',
 'angola',
 'antigua',
 'argentina',
 'aruba',
 'asia',
 'atlantic ocean',
 'australia',
 'azores',
 'bahamas',
 'bahrein',
 'bangladesh',
 'barbados',
 'bay of bengal',
 'belize',
 'bermuda',
 'between portugal and india',
 'brazil',
 'british isles',
 'british new guinea',
 'british overseas territory',
 'british virgin islands',
 'british west indies',
 'burma',
 'canada',
 'cape verde',
 'caribbean sea',
 'cayman islands',
 'central pacific',
 'ceylon',
 'ceylon (sri lanka)',
 'chile',
 'china',
 'colombia',
 'comoros',
 'cook islands',
 'coral sea',
 'costa rica',
 'crete',
 'croatia',
 'cuba',
 'curacao',
 'cyprus',
 'diego garcia',
 'djibouti',
 'dominican republic',
 'ecuador',
 'egypt',
 'egypt / israel',
 'el salvador',
 'england',
 'equatorial guinea / cameroon',
 'falkland islands',
 'federated states of micronesia',
 'fiji',
 'france',
 'french polynesia',
 'gabon',
 'georgia',
 'ghana',
 'grand cayman',
 'greece',
 'greenland',
 'grenada',
 'guam',
 'guatemala',
 'guinea',
 'gulf of aden',
 'guyana',
 'haiti',
 'honduras',
 'hong kong',
 'iceland',
 'india',
 'indian ocean',
 'indonesia',
 'iran',
 'iran / iraq',
 'iraq',
 'ireland',
 'israel',
 'italy',
 'italy / croatia',
 'jamaica',
 'japan',
 'java',
 'johnston island',
 'jordan',
 'kenya',
 'kiribati',
 'korea',
 'kuwait',
 'lebanon',
 'liberia',
 'libya',
 'madagascar',
 'malaysia',
 'maldive islands',
 'maldives',
 'malta',
 'marshall islands',
 'martinique',
 'mauritius',
 'mayotte',
 'mediterranean sea',
 'mexico',
 'micronesia',
 'mid atlantic ocean',
 'mid-pacifc ocean',
 'monaco',
 'montenegro',
 'mozambique',
 'namibia',
 'netherlands antilles',
 'nevis',
 'new britain',
 'new caledonia',
 'new guinea',
 'new zealand',
 'nicaragua',
 'nigeria',
 'north atlantic ocean',
 'north pacific ocean',
 'north sea',
 'northern arabian sea',
 'northern mariana islands',
 'norway',
 'ocean',
 'okinawa',
 'pacific ocean',
 'palau',
 'palestinian territories',
 'panama',
 'papua new guinea',
 'paraguay',
 'persian gulf',
 'peru',
 'philippines',
 'portugal',
 'puerto rico',
 'red sea',
 'red sea / indian ocean',
 'reunion',
 'reunion island',
 'roatan',
 'russia',
 'samoa',
 'san domingo',
 'saudi arabia',
 'scotland',
 'senegal',
 'seychelles',
 'sierra leone',
 'singapore',
 'slovenia',
 'solomon islands',
 'solomon islands / vanuatu',
 'somalia',
 'south africa',
 'south atlantic ocean',
 'south china sea',
 'south korea',
 'south pacific ocean',
 'southwest pacific ocean',
 'spain',
 'sri lanka',
 'st helena, british overseas territory',
 'st kitts / nevis',
 'st martin',
 'st. maartin',
 'st. martin',
 'sudan',
 'sweden',
 'syria',
 'taiwan',
 'tanzania',
 'tasman sea',
 'thailand',
 'the balkans',
 'tobago',
 'tonga',
 'trinidad and tobago',
 'tunisia',
 'turkey',
 'turks and caicos',
 'tuvalu',
 'united arab emirates',
 'united arab emirates (uae)',
 'united kingdom',
 'uruguay',
 'usa',
 'vanuatu',
 'venezuela',
 'vietnam',
 'west indies',
 'western samoa',
 'yemen']

In [2]:
activity_values = df['activity'].unique() # limpiar Jose
len(activity_values)

1586

In [6]:
# José 11:45pm

""" 
I added this, so tommorow I can continue on this part

"""

df.dropna(subset=["activity"])

df["activity"] = df["activity"].str.lower()

df['activity'] = df['activity'].replace({'fishing for red fish': 'fishing', 'Fishing boat swamped in a storm':'fishing','free diving (but on surface)': 'free diving'})

In [4]:
# José 11:45pm

""" 
I remove the nan variable,replace some variables like ? to Unconfirmed,
and turn all the variables in lower case
"""
# replace nan, ?, Unconfirmed, Invalid with Unverified. Use map.
#df.dropna(subset=["type"], inplace=True)

df["type"] = df["type"].fillna('Unconfirmed')
df["type"] = df["type"].replace({"?": "Unconfirmed", "Unconfirmed": "Unconfirmed", "Unverified": "Unconfirmed", "Under investigation":"Unconfirmed","Questionable":"Unconfirmed"})
df["type"] = df["type"].str.lower()
df["type"].unique()
df["type"].value_counts()

unprovoked      5090
provoked         633
invalid          552
watercraft       355
sea disaster     242
unconfirmed       67
boat               7
Name: type, dtype: int64

In [ ]:
filter=

In [43]:
pd.set_option('display.max_rows', 1000)

pivot_table = df.pivot_table(index='country', 
                             columns='activity',values='date', aggfunc='count')
#sorted_pivot_table = pivot_table.sort_values(by='activity', ascending=False)

#surfing_stats = sorted_pivot_table[sorted_pivot_table.index.isin(['surfing'])]

pivot_table.loc[['usa','australia','south africa'],['surfing','swimming']]


#pivot_table
#sorted_pivot_table
#surfing_statsr

activity      surfing  swimming
country
usa             655.0     356.0
australia       235.0     182.0
south africa    100.0      87.0

In [8]:
df

,date,year,type,country,state,location,activity,name,sex,age,...,unnamed:_11,time,species,source,pdf,href_formula,href,case_number,case_number.1,original_order
0,04 Dec-2023,2023.0,unprovoked,bahamas,New Providence Isoad,Sandals Resort,paddle boarding,Lauren Erickson Van Wart,F,44,...,Y,11h00,NaN,"NBC News, 12/4/2023",NaN,NaN,NaN,NaN,NaN,NaN
1,02 Dec-2023,2023.0,unprovoked,mexico,Jalisco,San Patricio Melaque,swimming,Maria Fernandez Martinez Jimenez,F,26,...,Y,Morning,NaN,"News Channel 21, 12/3.2023",NaN,NaN,NaN,NaN,NaN,NaN
2,30 Nov-2023,2023.0,unprovoked,australia,Queensland,Clack Island,swimming,male,M,21,...,N,11h30,1.8m bull shark,"ABC Net, 11/30/2023",NaN,NaN,NaN,NaN,NaN,NaN
3,21 Nov-2023,2023.0,unprovoked,bahamas,Grand Bahama Island,Tiger Beach,scuba diving,female,F,47,...,Y,10h30,NaN,"Eye Witness News, 11/22/2023",NaN,NaN,NaN,NaN,NaN,NaN
4,10 Nov-2023,2023.0,unprovoked,australia,South Australia,Port Noarlunga,free diving,Bridgette O’Shannessy,F,32,...,N,13h20,NaN,S. DeMarchi. GSAF,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6941,NaN,NaN,unconfirmed,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN
6942,NaN,NaN,unconfirmed,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN
6943,NaN,NaN,unconfirmed,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN
6944,NaN,NaN,unconfirmed,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN
6945,NaN,NaN,unconfirmed,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN